# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
.venv/
.env/

# VS Code
.vscode/

# Database
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# PyCharm
.idea/