<!DOCTYPE html>
<html>
<head>
    <title>Add Show</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Add New Show</h1>

<form method="POST" class="edit-form">
    <label for="title">Title</label>
    <input name="title" placeholder="Title" required>

    <label for="release_year">Release Year</label>
    <input name="release_year" type="number" placeholder="Release Year" required>

    <label for="total_seasons">Total Seasons</label>
    <input name="total_seasons" type="number" placeholder="Total Seasons" required>
    
    <label for="imdb_rating">IMDb Rating</label>
    <input name="imdb_rating" type="number" step="0.1" placeholder="IMDb Rating" required>

    <label for="imdb_link">IMDb Link</label>
    <input name="imdb_link" placeholder="IMDb Link" required>

    <label for="seasons_watched">Seasons Watched</label>
    <input name="seasons_watched" type="number" placeholder="Seasons watched" value="0" min="0">
    
    <label>
        <input type="checkbox" name="finished"> Finished
    </label>

    <label for="personal_rating">Personal Rating</label>
    <input name="personal_rating" type="number" step="0.1" placeholder="Personal rating" min="0" max="10">

    <button type="submit">Add Show</button>
</form>

</body>
</html>