<!DOCTYPE html>
<html>
<head>
    <title>Edit Show</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Edit Show</h1>

<form method="POST" class="edit-form">
    <label>Title</label>
    <input name="title" value="{{ show['title'] }}" placeholder="Title" required>

    <label>Release Year</label>
    <input name="release_year" type="number" value="{{ show['release_year'] }}" required>

    <label>Total Seasons</label>
    <input name="total_seasons" type="number" value="{{ show['total_seasons'] }}" required>

    <label>IMDb Rating</label>
    <input name="imdb_rating" type="number" step="0.1" min="0" max="10" value="{{ show['imdb_rating'] }}" required>

    <label>IMDb Link</label>
    <input name="imdb_link" type="url" value="{{ show['imdb_link'] }}" required>

    <button type="submit">Save</button>
</form>

</body>
</html>